extends layout

block content


  header.header-text-2
    .container
      .row
        .col.text-center.text-light
          h1 Conectate

  .container
    .row
      .table-responsive
        table.table.table-striped
          thead.thead-light
            tr
              th(scope='col') 
              th(scope='col') Lider
              th(scope='col') Para Quien
              th(scope='col') Dias
              th(scope='col') Tiempo
              th(scope='col') Lugar
              th(scope='col') Pagina
          tbody
            each l in leaders
              tr
                th(scope='row')
                  if l.picture
                    img.align-middle.leader-profile(src=l.picture)
                  else
                    img.align-middle.leader-profile(src="/img/vida-nueva/icon.png")
                  td.align-middle= l.lider
                  td.align-middle= l.para_quien
                  td.align-middle= l.dias
                  td.align-middle= l.tiempo
                  td.align-middle= l.lugar
                  if l.pagina
                    td.align-middle
                      a(href=l.pagina)= l.pagina
                  else
                    td.align-middle n/a